@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Lexend";
    src: url(/assets/fonts/Lexend/Lexend-VariableFont_wght.ttf)
      format("truetype-variations");
    font-weight: 100 900;
  }
  @font-face {
    font-family: "Inter";
    src: url(/assets/fonts/Inter/Inter-VariableFont_slnt,wght.ttf)
      format("truetype-variations");
    font-weight: 100 900;
  }
  @font-face {
    font-family: "GochiHand";
    src: url(/assets/fonts/Gochi_Hand/GochiHand-Regular.ttf)
      format("truetype");
    font-weight: 400;
    font-style: normal;
  }
}

a {
  @apply cursor-pointer;
}

.swiper-slide {
  width: 353px !important;
}
