@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Lexend";
    src: url(../fonts/Lexend/Lexend-VariableFont_wght.ttf)
      format("truetype-variations");
    font-weight: 100 900;
  }
  @font-face {
    font-family: "Inter";
    src: url(../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf)
      format("truetype-variations");
    font-weight: 100 900;
  }
  @font-face {
    font-family: "GochiHand";
    src: url(../fonts/Gochi_Hand/GochiHand-Regular.ttf)
      format("truetype");
    font-weight: 400;
    font-style: normal;
  }
}

a {
  @apply cursor-pointer;
}

.swiper-slide {
  width: 353px !important;
}

.custom-checkbox:checked {
  background-color: #F69511; /* Example background color */
  border-color: #F69511; /* Example border color */
}
.custom-checkbox:checked::after {
  content: ""; 
  display: block;
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}